
.auth__loginRegisterContainer
{
    
    display: flex;
    align-items: center;
    justify-content: center;

}


.auth__loginRegisterBox
{
    padding: 2rem;
    width: 25rem;
    height: auto;
    margin-top: 12%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
 
}

.auth__topRegisterBox
{
    margin-top: 7% !important;
}