.categoryScreen__cardPostBox
{
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 15%;

}


.categoryScreen__cardBodyPost
{
    width: 80%;
}


textarea
{
    height: 8rem !important;
    max-height: 10rem !important;
}