
.UI__sideBar
{
    padding-top: 3rem;
    height: 100%;
    height: 100vh;
    width: 100%;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.UI__iconSideBar
{

    font-size: 3.5rem;

    &:hover
    {
        color: white;
    }

    p
    {
        font-size: 0.7rem;
    }

}


.UI__titleModal
{
    margin-left: 9rem;
}


.UI__inputColor
{
    padding: 0rem;
}



.card
{
    border: none !important;

}


.card-header
{
    background-color: white !important;
    border-bottom: 1px solid $secondary !important;
}



.smallName
{
    font-size: 0.8rem;
}


.fa-egg 
{
    &:hover
    {
        small
        {
            color: black !important;
            border-bottom: 1px solid black;
        }

    }

    font-size: 2rem;
}





