body
{
    overflow-x: hidden;
    height: 100vh;
}


.pointer
{
    cursor: pointer;
}


.linkR
{
    &:hover
    {
        border-bottom: 1px solid black;
    }
}

.Dpadding
{
    padding: 0% !important;
}

.rem3
{
    margin-top: 3rem;
}